In [1]:
import os
import pandas as pd
import re

In [2]:
labels = pd.read_csv('data_all\labels_all.csv')

In [4]:
labels.columns = labels.columns.str.lower()

In [6]:
labels.head()

                        movie     kinopoisk        level subtitles
0                Forrest Gump        Rus sub  A2/A2+, B1       Yes
1              Finding Nemo\n     Everything      A2/A2+       Yes
2                 Cast away\n  Paid, Rus sub      A2/A2+       Yes
3  The invisible man (2020)\n  Paid, Rus lan      A2/A2+       Yes
4        Back to the future\n        Rus sub      A2/A2+       Yes

In [7]:
labels.movie = labels['movie'].apply(lambda x: re.sub(r"(<.*?>)|(\w*[A-Z]{2})|[^\w\s]", '',  x).replace('\n', '').lower())

In [8]:
labels.head()

                    movie     kinopoisk        level subtitles
0            forrest gump        Rus sub  A2/A2+, B1       Yes
1            finding nemo     Everything      A2/A2+       Yes
2               cast away  Paid, Rus sub      A2/A2+       Yes
3  the invisible man 2020  Paid, Rus lan      A2/A2+       Yes
4      back to the future        Rus sub      A2/A2+       Yes

In [10]:
labels.level.value_counts()

B1            38
B2            29
A2/A2+        27
B1, B2         9
C1             8
A2/A2+, B1     5
Name: level, dtype: int64

In [11]:
labels.to_csv('labels_cleaned.csv')