In [2]:
%pip install thefuzz

Requirement already satisfied: thefuzz in c:\programdata\anaconda3\lib\site-packages (0.19.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import os
from thefuzz import fuzz
from thefuzz import process
import pandas as pd
import numpy as np
import re

In [4]:
labels = pd.read_csv('data_all\labels_all.csv')

In [5]:
labels.head()

                        Movie     Kinopoisk        Level Subtitles
0                Forrest Gump        Rus sub  A2/A2+, B1       Yes
1              Finding Nemo\n     Everything      A2/A2+       Yes
2                 Cast away\n  Paid, Rus sub      A2/A2+       Yes
3  The invisible man (2020)\n  Paid, Rus lan      A2/A2+       Yes
4        Back to the future\n        Rus sub      A2/A2+       Yes

In [6]:
labels.describe()

                        Movie  Kinopoisk  Level Subtitles
count                     116          69   116        88
unique                    115          10     6         2
top     Sleepless in Seattle   Everything    B1       Yes
freq                        2          19    38        85

In [7]:
#приведем названия колонок к одному формату
labels = labels.rename(str.lower, axis='columns')
labels.head()

                        movie     kinopoisk        level subtitles
0                Forrest Gump        Rus sub  A2/A2+, B1       Yes
1              Finding Nemo\n     Everything      A2/A2+       Yes
2                 Cast away\n  Paid, Rus sub      A2/A2+       Yes
3  The invisible man (2020)\n  Paid, Rus lan      A2/A2+       Yes
4        Back to the future\n        Rus sub      A2/A2+       Yes

In [8]:
#обработаем названия фильмов 
labels.movie=labels['movie'].apply(lambda x: re.sub(r'(<.*?>)|([^\w\s])', '', x).replace('\n', '').replace(' ', '_').lower())
labels = labels.sort_values(by='movie')
labels = labels.reset_index(drop=True)
labels.head()

                        movie  kinopoisk    level subtitles
0         10_cloverfield_lane         NaN      B1       Yes
1  10_things_i_hate_about_you     No subs      B1       Yes
2              a_knights_tale  Everything      B2       Yes
3              a_star_is_born        Nope      B2       Yes
4                     aladdin  Everything  A2/A2+       Yes

In [9]:
#приведем к одному виду все файлы субтитров
def to_lowcase(source):
    path = source
    files = os.listdir(path)
    i=0
    for file in files:
        filename, file_extension = os.path.splitext(file)
        os.rename(os.path.join(path, file), os.path.join(path, filename.lower() + file_extension))
        i+=1
    return f'{i} files renamed'

In [10]:
path = 'data_all\Subtitles_all'
to_lowcase(path)

'115 files renamed'

In [11]:
content = os.listdir(path)

In [12]:
def search_eng(data, folder):
    result = []
    for i in range(len(data)):
        result.append(process.extractOne(data[i], folder)[0])
    return result

In [13]:
labels['subs']=pd.Series(search_eng(labels['movie'], content))

In [14]:
labels=labels.drop_duplicates(subset='movie')
labels.tail(30)

,movie,kinopoisk,level,subtitles,subs
85,the_graduate,Nope,"B1, B2",Yes,the_graduate(1967).srt
86,the_greatest_showman_,NaN,A2/A2+,Yes,the_greatest_showman(2017).srt
87,the_hangover,NaN,B2,Yes,the_hangover(2009).srt
88,the_holiday,No subs,B1,Yes,the_holiday(2006).srt
89,the_intern,NaN,B2,NaN,the_intern(2015).srt
90,the_invisible_man_2020,"Paid, Rus lan",A2/A2+,Yes,the_invisible_man(2020).srt
91,the_jungle_book,Everything,A2/A2+,Yes,the_jungle_book(2016).srt
92,the_kings_speech,NaN,B2,Yes,the_kings_speech(2010).srt
93,the_legend_of_tarzan,NaN,C1,NaN,the_legend_of_tarzan(2016).srt
94,the_lion_king,Everything,A2/A2+,Yes,the_lion_king(1994).srt
95,the_lord_of_the_rings,Nope,"B1, B2",Yes,the_lord_of_the_rings(2001).srt
96,the_man_called_flinstone,Nope,A2/A2+,Yes,the_man_called_flintstone(1966).srt
97,the_secret_life_of_pets,NaN,B2,NaN,the_secret_life_of_walter_mitty(2013).srt
98,the_secret_life_of_walter_mitty,Everything,B1,Yes,the_secret_life_of_walter_mitty(2013).srt
99,the_shawshank_redemption,NaN,"B1, B2",Yes,the_shawshank_redemption(1994).srt
100,the_social_network,Paid,B2,Yes,the_social_network(2010).srt
101,the_terminal,NaN,B1,NaN,the_terminal(2004).srt
103,the_terminator,Nope,B1,Yes,the_terminator(1984).srt
104,the_theory_of_everything,Rus sub,B2,Yes,the_theory_of_everything(2014).srt
105,the_usual_suspects,Paid,B2,Yes,the_usual_suspects(1995).srt
106,the_walking_dead__series,NaN,A2/A2+,No,breaking_bad_the_movie(2017).srt
107,titanic,Everything,B2,Yes,titanic(1997).srt
108,toy_story,Everything,A2/A2+,Yes,toy_story(1995).srt
109,twilight,"No subs, Paid",A2/A2+,Yes,twilight(2008).srt
110,up,Everything,A2/A2+,Yes,up(2009).srt
111,venom,Everything,B2,Yes,venom(2018).srt
112,warm_bodies,"Everything, Paid",B1,Yes,warm_bodies(2013).srt
113,were_the_millers,Nope,B1,Yes,we_are_the_millers(2013).srt
114,while_you_were_sleeping,NaN,B1,NaN,while_you_were_sleeping(1995).srt
115,zootopia,NaN,C1,NaN,zootopia(2016).srt

In [15]:
labels.to_csv('labels.csv')

Getting information, Please Wait....
'NoneType' object is not subscriptable
Invalid input or Network Error!

In [2]:
idioms = open('1234.txt'); 
folder = open('data_all\Subtitles_txt\my_big_fat_greek_wedding(2002).txt')
idioms.readlines()

['\n',
 'a bear with a sore head a bit of a dark horse\n',
 "a bitter pill to swallow a different kettle of fish a dog's life\n",
 'a fish out of water a long shot\n',
 'a memory like a sieve a night owl\n',
 'a pain in the neck a piece of cake\n',
 'a red rag to a bull a red-letter day\n',
 'a sitting duck\n',
 'a storm in a teacup a wild-goose chase above board Achilles heel against all odds agree to disagree \n',
 'all along\n',
 'all but all in  all in all\n',
 'all the same all told\n',
 "an old wives' tale\n",
 'an unknown quantity as a last resort\n',
 'as the crow flies at close quarters at large\n',
 "at the cutting edge bark up the wrong tree be ahead of one's time be all at sea\n",
 'be all fingers and thumbs be all very well\n',
 'be as busy as a bee be as thick as a brick\n',
 'be beside oneself with anger be born yesterday\n',
 'be broke\n',
 'be caught red-handed be dying for sth\n',
 'be fit for\n',
 'be for the high jump be full of beans\n',
 'be green\n',
 'be in a quandary\n',
 "be in sb's black books be in sb's shoes\n",
 'be in the dark about sth be in the doghouse\n',
 'be in the know\n',
 'be in the same boat\n',
 'be in two minds about sth be on the cards\n',
 'be on the defensive be on the up and up be out of practice be over the moon\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '\n',
 'be second to none be sound asleep\n',
 "be the apple of sb's eye be the perfect image of sb\n",
 'be the splitting image of sb be thrown off balance\n',
 'be tickled pink be up and about be up in arms be worn out\n',
 'beget soaked to the skin behave a close shave bear fruit\n',
 'beat aboutaround the bush beat sb black and blue\n',
 'before one can say Jack Robinson beg the question\n',
 "behind bars behind the scenes below the belt bide one's time big cheese\n",
 'big-headed\n',
 'bite off more than sb can chew black and blue all over\n',
 'black tie blaze a trail\n',
 'blessing in disguise blow a fuse\n',
 'blue-eyed boy bolt from the blue brainwave\n',
 'break even break the ice\n',
 "bring sth home to sb bring to one's knees browned off\n",
 "bury one's head in the sand butter sb up\n",
 'by and large by definition\n',
 'by force of habit by trial and error call it quits\n',
 'call sb names cast aspersions\n',
 'catch sb red-handed chair a meeting\n',
 'chip off the old block chop and change claim to fame\n',
 'clear the air come clean\n',
 "come out of one's shell come to a head\n",
 "come to a standstill come to terms with come to the fore come to the point cook one's goose cost a \n",
 'bomb\n',
 'cost an arm and a leg\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '\n',
 "cramp one's style crocodile tears cross one's mind cry over spilt milk cut corners\n",
 'cut sb dead\n',
 'cut sb to the quick cut to the bone deal a blow to\n',
 'different as chalk and cheese does it show\n',
 'dog eat dog dog-eared\n',
 "don't give up your day job don't hold your breath donkey work\n",
 "donkey's years down in the dumps down the drain drive a hard bargain drive sb up the wall drop a \n",
 'brick\n',
 'drop sb a line ease off\n',
 "eat one's heart out every nook and cranny face the music\n",
 'fair and square\n',
 'fall head over heels fall into place\n',
 "feel down in the mouth feel in one's bones\n",
 "feel one's ears burning few and far between fight like cat and dog fine kettle of fish\n",
 'flat broke\n',
 'flog a dead horse fly off the handle fly on the wall for all\n',
 'for all I care for all I know\n',
 "for donkey's years for the time being frosty welcome gatecrasher\n",
 'get a bit hot under the collar get a move on\n',
 "get a problem off one's chest get cold feet\n",
 'get cold feet\n',
 'get nowhere fast\n',
 "get off on the wrong foot get on one's nerves\n",
 'get out of bed on the wrong side get out of hand\n',
 'get rid of sth\n',
 'get the hang of it get the sack\n',
 'get the wrong end of the stick get wind of\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '\n',
 'get your own back give and take\n',
 'give chapter and verse give sb the cold shoulder give sb the slip\n',
 'give the green light to sth give vent to\n',
 'give way to\n',
 "go back on one's word go by the board\n",
 'go for a song\n',
 "go to any lengths go to one's head go to the dogs\n",
 "go without saying golden opportunity grease sb's palm green belt\n",
 'green with envy grey matter grow out of sth\n',
 'hand in glove with sb\n',
 "have a bee in one's bonnet have a frog in one's throat have a job to do sth\n",
 'have a sharp tongue have a yellow streak have an early night have an eye for have an eye for\n',
 "have at one's fingertips\n",
 "have butterflies in one's stomach have kittens\n",
 'have many irons in the fire have no fixed abode\n',
 'have no option but\n',
 "have one's heart in one's mouth have sb's hands full\n",
 'have the cheek\n',
 "have the gift of the gab have time on one's hands have words with sb\n",
 'hear it through the grapevine hit the nail on the head\n',
 'hit the roof hit the sack\n',
 "hold one's horses ill at ease\n",
 'in a flash\n',
 'in a nutshell in a rut\n',
 'in a tick\n',
 'in abeyance in arrears\n',
 'in black and white in broad daylight in clover\n',
 'in deep water in full flow\n',
 'in public\n',
 'in the abstract in the act of\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '\n',
 'in the air\n',
 'in the balance in the black\n',
 'in the flesh\n',
 'in the long run\n',
 'in the nick of time in the offing\n',
 'in the red\n',
 "it stands to reason it's all Greek to me jack of all trades keep a straight face keep an eye on sth \n",
 'keep in check\n',
 "keep one's chin up\n",
 "keep one's fingers crossed keep one's wits about one keep oneself to oneself keep sth quiet\n",
 "keep sth under one's hat keep up with the Joneses kick the bucket\n",
 'kill time\n',
 'kill two birds with one stone know the ropes\n',
 'lay bare\n',
 'lay the table lend an ear lend sb a hand\n',
 'let sleeping dogs lie\n',
 "let the cat out of the bag like a bull in a china shop like the back of one's hand like water off a \n",
 "duck's back live out of a suitcase\n",
 "look at sth though rose-coloured sp look down one's nose at sb\n",
 'lose heart\n',
 "lose one's head lose one's nerve lost cause\n",
 "make a clean breast of make a dog's dinner make a flying visit make a fool of oneself make a \n",
 'killing\n',
 'make a living\n',
 'make a mountain out of a molehill make a name for oneself\n',
 'make allowances for make amends for\n',
 'make common cause with sb make hay while the sun shines make head nor tail of\n',
 'make light of\n',
 "make money hand over fist make one's blood boil make one's getaway\n",
 "make quite a scene make sb's day make waves\n",
 'meet behind closed doors\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '\n',
 'moon around\n',
 'more to sb than meets the eye mutton dressed as a lamb\n',
 'no room to swing a cat no wonder\n',
 "not all it's cracked up to be not be one's cup of tea\n",
 "not count one's chickens before the not have it both ways\n",
 'not have the foggiest idea not hold water\n',
 'not lose any sleep over sth null and void\n',
 'of all people\n',
 'of its own accord of no consequence off colour\n',
 'off the cuff off the point off the record\n',
 'on a shoe string on account of on edge\n',
 'on no account\n',
 'on second thoughts on the air\n',
 'on the alert on the ball on the blink on the dole on the dot\n',
 'on the face of it on the level\n',
 'on the quiet\n',
 'on the spur of the moment on thisthat account\n',
 'once and for all once in a blue moon\n',
 "one's flesh and blood open to debate\n",
 'out and about out in the open out of bounds out of print  out of the blue\n',
 'out of the frying pan into the fire out of the question\n',
 'out of turn out-and-out\n',
 "paint the town red part and parcel of part company with pay sb's way\n",
 "pick someone's brains pitch black\n",
 'play cat and mouse with sb play it by ear\n',
 "play one's cards right play truant\n",
 'plenty more fish in the sea point the finger of suspicion pop the question\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '\n',
 "pull a few strings pull one's leg\n",
 "pull one's socks up put a damper on put down roots  put on a brave face\n",
 "put one's foot down put one's foot in it\n",
 "put one's heart and soul into sth put sb's name forward\n",
 'put the cat among the pigeons put two and two together\n',
 "put words into one's mouth rack sb's brains\n",
 'rain cats and dogs red herring\n',
 'red tape ring a bell\n',
 'rise to the challenge see eye to eye with sb see fit\n',
 'see red\n',
 "see the back of set in one's ways shed light upon short and sweet\n",
 "show one's true colours sleep like a dog\n",
 'sleep on it\n',
 "slip one's mind slow on the uptake smell a rat\n",
 "sour grapes speak volumes spill the beans stand in sb's way status symbol stay clear of\n",
 "stew in one's own juice sth comes in handy\n",
 "straight from the horse's mouth strike a chord\n",
 "strike gold sweet tooth swim like a fish take it easy take one's time\n",
 'take sb for granted take sth into account take sth on the chin take sth to heart\n',
 'take sth with a pinch of salt take the bull by the horns take things to pieces\n',
 "take to one's heels\n",
 'talk the hind legs off a donkey the black sheep of the family the ins and outs\n',
 'the last straw\n',
 "the life and soul of sth the lion's share\n",
 'the pot calling the kettle black\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '\n',
 'the rat race\n',
 'the tip of the iceberg the year dot\n',
 'thick-skinned\n',
 'through thick and thin throw a party\n',
 'to no effect tongue in cheek tooth and nail touch and go\n',
 'turn a blind eye to sth turn over a new leaf under the weather\n',
 'until one is blue in the face until the cows come home up and coming\n',
 'up in the air ups and downs\n',
 "wash sb's hands of sb wet behind the ears wet blanket\n",
 "whet sb's appetite white elephant white-collar job\n",
 'with a view to doing sth with flying colours without fail\n',
 'work a miracle work to rule\n']

In [10]:
def search_eng(data, folder):
    result = []
    for i in data:
        result.append(process.extractOne(data[i], folder)[1])
    return result

In [14]:
search_eng(idioms.readlines(), folder)

[]